{% extends "base.html" %}

{% block title %}Sale Page 3{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ product.name }}</h1>
                <p>Price: ${{ product.price }}</p>
                <p>Available Quantity: {{ product.quantity }}</p>
                <!-- Adicione o campo de quantidade -->
                <form method="POST" action="/sale_page3/{{ product.name }}-{{ id }}-{{ kart }}">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.hidden_tag() }}
                        <label for="{{ form.quantity.id }}">Quantidade:</label>
                        <div class="input-group">
                            {{ form.quantity(class="form-control") }}
                        </div>
                    </div>
                    <button type="submit" name="submit_item" class="btn btn-primary">Confirmar</button>
                </form>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flash-messages">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <a href="{{ url_for('sale_page2', id=id, kart=kart) }}" class="btn btn-primary">Back to Sale Page 2</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var quantityInput = document.getElementById("{{ form.quantity.id }}");
            var incrementButton = document.getElementById("increment");
            var decrementButton = document.getElementById("decrement");

            incrementButton.addEventListener("click", function () {
                quantityInput.value = parseInt(quantityInput.value) + 1;
            });

            decrementButton.addEventListener("click", function () {
                var currentValue = parseInt(quantityInput.value);
                if (currentValue > 0) {
                    quantityInput.value = currentValue - 1;
                }
            });
        });
    </script>
{% endblock %}

